<div class="row">
  <div class="col-md-9">
    <h2>Your search for "{{q}}" yielded {{model.total}} {{if itemType itemType "items"}}</h2>
  </div>
  <div class="col-md-3">
    {{search-form q=q onSearch=(action "doSearch") class="search-form-inline"}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.results as |item|}}
          {{results-item model=item}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
